
.FacilitiesPage {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
}

.FacilitiesInfo {
    /* display: flex; */
    /* /* padding: 20px; */
    margin: 30px; 
}

.FacilitiesSubHeading {
    padding-bottom: 10px;
}

.FacilitiesHeading {
    padding-bottom: 20px;
}

.ClassroomImage {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}