.coursesPage {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.coursesInfo {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.courseInfo h3 {
    padding-bottom: 10px;
    text-decoration: underline;
}

.courseLink:hover {
    text-decoration: underline;
}